{% for row in admission_criteria_rows %}
  {% comment %} <div>main- {{admission_criteria_rows}}</div> {% endcomment %}
  {% comment %} debug here - {{row}} <br> {% endcomment %}
  {% comment %} ตรงนี้หาว่าทำไม admission_criteria_rows.majors คืออะไร => มันหาอะไรใน Db ถึงได้ค่ากลับมาเป็นลิสที่มีเงื่อนไขเดียวกัน => มันคือ CurriculumMajorAdmissionCriteria ที่ใช้ AdmissionCriteria เดียวกัน {% endcomment %}
  {% comment %} ต่อไปจะหาว่า admission_criteria_rows.criterias คืออะไร  {% endcomment %}
    {% with curriculum_major_admission_criterias=row.majors criterias=row.criterias major_count=row.major_count criteria_count=row.criteria_count %}
      {% if is_faculty_row_visible %}
		{% with collapse_faculty_id=criterias.0.faculty.id majorcriteria=curriculum_major_admission_criterias.0 %} 
		{% with collapse_major_id=majorcriteria.id%}
			{% ifchanged criterias.0.faculty %}
				<!-- คณะ -->
				 <div class="d-flex px-2 align-items-center faculty-title" type="button" data-bs-toggle="collapse" data-bs-target="#{{ collapse_faculty_id }}" aria-expanded="false" aria-controls="{{ collapse_faculty_id }}">
					{% comment %} <h2 class="mr-3">{{ forloop.counter }}</h2> {% endcomment %}
					<h4>
						{{ criterias.0.faculty }} ({{ criterias.0.faculty.campus.title }})
					</h4>
				 </div>
			{% endifchanged  %}

			<div
			id="{{ collapse_faculty_id }}"
			class="major-block collapse">
				<!-- สาขาย่อย -->
				{% if major_count > 0 %}
				    <div
					class="major-title collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#{{ collapse_major_id }}"
					aria-expanded="false"
					aria-controls="{{ collapse_major_id }}">			
							{% comment %} คณะที่มีเงื่อนไขเดียวกัน เกณฑ์การพิจารณา เดียวกัน {% endcomment %}
							{% for majorcriteria in curriculum_major_admission_criterias %}
									<div>
										{% comment %} Debug - major group - {{curriculum_major_admission_criterias}} <br> {% endcomment %}
										{% comment %} Debug - major - {{majorcriteria}} <br> {% endcomment %}
 										{{majorcriteria.curriculum_major.cupt_code}}
									</div>
							{% endfor %} 
					</div>
				{% else %}
					<div>
						(ยังไม่ได้ระบุสาขา)
					</div>
				{% endif %}

				{% comment %} เงื่อนไขขั้นต่ำ && เกณฑ์การพิจารณา && จำนวนรับ {% endcomment %}
				<div
					id="{{ collapse_major_id }}"
					class="condition collapse"
					data-bs-parent="#{{ collapse_faculty_id }}">
					
					{% comment %} เงื่อนไขขั้นต่ำ && เกณฑ์การพิจารณา {% endcomment %}
					{% with id_string=majorcriteria.id|stringformat:"s" %}
						{% with slider_id="critSlider-"|add:id_string %}
						{% comment %} debug - {{ curriculum_major_admission_criterias }} <br>
						debug - {{ criterias }} <br> {% endcomment %}
						<div id="{{ slider_id }}" class="carousel slide" data-bs-touch="true" data-bs-interval="false">
							
							{% comment %} indicator {% endcomment %}
							<div class="carousel-indicators px-2">
								{% for item in criterias %}
									<button type="button"
											data-bs-target="#{{ slider_id }}"
											data-bs-slide-to="{{ forloop.counter0 }}"
											class="{% if forloop.first %}active{% endif %} mx-1"
											aria-current="{% if forloop.first %}true{% endif %}"
											aria-label="Slide {{ forloop.counter }}">
									</button>
								{% endfor %}
							</div>

							{% comment %} slider child {% endcomment %}
							<div class="carousel-inner">
								
								{% comment %} เงื่อนไขขั้นต่ำ && เกณฑ์การพิจารณา {% endcomment %}
								<div class="carousel-item active">
									{% with criterias.0 as admission_criteria %}
										{% include "criteria/include/criteria_table_scorecriteria_cols_2.html" %}
									{% endwith %}
								</div>

								{% comment %} กรณีที่มีเงื่อนไขมากกว่า 1 ให้แสดงให้ครบ (เงื่อนไขขั้นต่ำ && เกณฑ์การพิจารณา) {% endcomment %}
								{% if criteria_count > 0 %}
										{% for item in criterias %}
											{% comment %} debug - {{ criterias }} <br> {% endcomment %}
											{% if not forloop.first %}
												<div class="carousel-item">
													{% with item as admission_criteria %}
														{% include "criteria/include/criteria_table_scorecriteria_cols_2.html" %}
													{% endwith %}
												</div>
											{% endif %}
										{% endfor %}
								{% endif %}

							</div>

							{# arrows #}
							<button class="carousel-control-prev" type="button" data-bs-target="#{{ slider_id }}" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#{{ slider_id }}" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
							</button>
						</div>
						{% endwith %}
					{% endwith %}

					{% comment %} จำนวนรับ {% endcomment %}
					<div>
						<div class="min-criteria-title">จำนวนรับ </div>
						<table class="table w-75">
							<tbody>
								{% for majorcriteria in curriculum_major_admission_criterias %}
								<tr>
									<td>{{ majorcriteria.curriculum_major.cupt_code }}</td>
									<td class="text-end">
										{% if majorcriteria.slots != 0 %}
											{{ majorcriteria.slots }}
										{% else %}
											*จำนวนรับรวมกับเงื่อนไขอื่น
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>

				</div>
				
			</div>
		{% endwith %} 
		{% endwith %}
      {% endif %}

    {% endwith %}
  {% endfor %}

<!-- Bootstrap Bundle with Popper (JS) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>