.show-md {
    display: none;
}

.area {
    font-weight: 700;
    padding-top: 1.5rem !important;
}

@media (max-width: 768px) {
    td {
        /* display: grid;
        grid-template-columns: 40% 60%;  */
        padding: 0.5rem 1rem !important;
    }
    .interval {
        font-size: 0.9rem;
    }

    .show-md {
        display: table-row;
    }

    .hide-md {
        display: none;
    }

    
}